@font-face {
  font-family: 'Rushblade';
  src: url('Omnitrinx.ttf') format('truetype');
}

* {
  font-family: 'Rushblade', sans-serif;
}

body {
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.input-box {
  margin: 0 10px 10px 0;
}

input::placeholder,
textarea::placeholder {
  color: #888;
  font-size: 16px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: white;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
  border-color: #09116D;
  box-shadow: 0 0 5px rgba(9, 17, 109, 0.5);
}

.textarea-container {
  text-align: center;
}

textarea {
  font-family: 'Rushblade', sans-serif;
  width: 800px;
  display: inline-block;
  text-align: center;
}

.button-container {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: 2px solid white; /* Add a white border */
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #010535;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Rushblade', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 183px;
}

select:focus {
    border-color: #09116D;
    box-shadow: 0 0 5px rgba(9, 17, 109, 0.5);
}

select option {
    background-color: #1e1e1e; /* Match the background color */
    color: white; /* Match the text color */
}

.top-right-button {
    position: absolute; /* Position it relative to the nearest positioned ancestor */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
}

.top-right-button .button {
    margin: 5px;
    padding: 10px 15px;
    border: 2px solid white; /* White border */
    border-radius: 4px;
    background-color: black;
    color: white;
    text-decoration: none; /* Remove underline from link */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.top-right-button .button:hover {
    background-color: #010535; /* Darker background on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

.top-right-button .button:active {
    transform: scale(0.95); /* Slightly shrink button on click */
}
